.allbox{
    display: flex;
    width: 100%;
    height: 80;
}
.iLevel{
    width: 60%;
    height: 50%;
    display: flex;  
  /* 垂直置中 */
  align-items: center; 
  flex-wrap: wrap;
}
h1{
    width: 100%;
    color: #212A3E;
}
#box1,#box2,#box3{
    margin: 0.5%;
    border:4px  #212A3E solid;
    width: 30%;
    align-items: center;
    height: auto; /* 設置高度 */
    line-height: 200%; /* 文字行高 */
}
.box p {
    display: block;
    margin-block-start: 2%;
    margin-block-end: 2%;
    margin-inline-start: 2%;
    margin-inline-end: 2%;
    color: #212A3E;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start:2%;
    margin-block-end: 2%;
    margin-inline-start: 2%;
    margin-inline-end: 2%;
    font-weight: bold ;
    color: #212A3E;
}