.box{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
h1{
    margin: 0.5vw;
    font-size: 6vmax;
}
.Level{
    margin: 1vmax;
}